<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dynamic Todo</title>
</head>
<body>
    <form action="/create" method = "post" class="todo-details" >
        <input type="text" class="title" placeholder="Enter Todo Name" name="title" value="">
        <input type="text" class="title" placeholder="Enter Todo Details" name="details">
        <button class="create-task">Create Task</button>
    </form>
    <div class="result">

    </div>
    <script src="/public/scripts/script"></script>
</body>
</html>