<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dynamic Todo</title>
</head>
<body>
    <form action="/create" method = "post" class="todo-details" >
        <input type="text" class="title" placeholder="Enter Todo Name" name="title" >
        <input type="text" class="title" placeholder="Enter Todo Details" name="details" >
        <button class="create-task">Create Task</button>
    </form>
    <% if(files.length > 0) { %> 
        <div class="result">
            <% files.forEach((val)=>{ %>
                <div class="task-name"> <%= val.replace('.txt', '') %> </div>
                <div class="links">
                    <a href="/files/<%= val %>" class="task-detail">Read More</a>
                    <a href="/edit/<%= val %>" class="edit-todo">Edit</a>
                </div>
                
            <% } ) %>        
        </div>    
    <% }else{ %>
        <div class="no-task">No task yet...</div>
   <%  } %>
    
    <script src="/scripts/script.js"></script>
</body>
</html>