<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dynamic Todo</title>
</head>
<body>
    <form action="/create" method = "post" class="todo-details" >
        <input type="text" class="title" placeholder="Enter Todo Name" name="title" value="">
        <input type="text" class="title" placeholder="Enter Todo Details" name="details">
        <button class="create-task">Create Task</button>
    </form>
    <div class="result" <%= let str = ''
        if(files.length>0){
            files.forEach(val){
                str += `<div class="task">
                    <h1 class="task-name">Some task goes here</h1>
                    <a href="#" class="read-more">Read More</a>
                </div>`
            }
        else{
            str+= `<h3 class="no-task">No task created..</h3>`;
        }
        }%> >

    </div>
    <script src="/scripts/script.js"></script>
</body>
</html>