<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/stylesheets/login.css">
</head>
<body>
    <div class="container">
        <div class="box-1">
            <h2 class="title">Welcome Back</h2>
        </div>
        <div class="box-2">
            <form action="/dashboard" method="post" class="create-form">
                <input type="text" name="email" placeholder="Email" required>
                <input type="password" name="password" placeholder="Password" required>
                <input type="submit" value="Login" class="signup-button">
            </form>
        </div>
    </div>

    <div class="container-2">
        <div class="box-3">
            <p class="existing-acc">Don’t have an account?</p>
        </div>
        <div class="box-4">
            <a href="./signup" class="sign-in">Create Account</a>
        </div>
    </div>
</body>
</html>
